{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul class="post-list">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li class="post-list">
    <h3><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>
    <div>
      {{ .Summary}}
    </div>
    <i class="far fa-calendar-check"></i><span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <span class="categories">
      {{ with .Params.categories }}
      {{ range . }}
      {{ $category := . | urlize }}
      <i class="far fa-folder"></i><a href = '{{ (printf "/categories/%s/" $category) }}'>{{ . }}</a>
      {{ end }}
      {{ end }}
    </span>
    <span class="tags">
      {{ with .Params.tags }}
      {{ range . }}
      {{ $tag := . | urlize }}
      <i class="fas fa-hashtag"></i><a href = '{{ (printf "/tags/%s/" $tag) }}'>{{ . }}</a>
      {{ end }}
      {{ end }}
    </span>
    <hr>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
