{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li class="post-list">
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <span class="categories">
      {{ with .Params.categories }}
      {{ range . }}
      {{ $category := . | urlize }}
      <i class="far fa-folder"></i><a href = '{{ (printf "/categories/%s/" $category) }}'>{{ . }}</a>
      {{ end }}
      {{ end }}
    </span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
