<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ if eq .Site.Language.Lang "en" }}
        <li id="change_lang"><i class="fas fa-globe-asia"></i><a href="/">中/EN</a></li>
      {{ else }}
        <li id="change_lang"><i class="fas fa-globe-asia"></i><a href="/en">中/EN</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
