<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
      <ul class="menu">
        <span class="menu_li">
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </span>
        <span class="change_lang">
          {{ if eq .Site.Language.Lang "en" }}
            <li><i class="fas fa-globe-asia"></i><a href="/">中/EN</a></li>
          {{ else }}
            <li><i class="fas fa-globe-asia"></i><a href="/en">中/EN</a></li>
          {{ end }}
        </span>
      </ul>
      <hr/>
    </nav>
